.login {
	-fx-background-color: linear-gradient(to right, #0b486b, #f56217);
}
.login-titulo {
	-fx-font-size: 24px;
	-fx-text-fill:Black;
}

.login-form-label {
	-fx-font-size: 16px;
	-fx-text-fill:Black;
}

.login-form-botao {
	-fx-font-size: 16px;
	-fx-text-fill:Black;
}